@import "../../globalStyle/globalStyle.scss";
.Layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 678px;
    width:100%;
    padding: 15px;
    font-family: $font;
}