@import "../../globalStyle/globalStyle.scss";
.Layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 678px;
    width:374px;
    background-color: $background-color;
    padding: 15px;
    font-family: $font;

}