@import "../../../globalStyle/globalStyle.scss";
.Botonvolver{
 height:100px;
 width: 100%;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto 1fr;
 position: relative;
 margin-left: 15px;
 button{
    color: white;
    position: absolute;
   top:18px;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: max-content;
    font-family:$font;
    font-size: 20px;
     transition: 1s;
 cursor: pointer;
 }
}

